.footer{
    background:#080808;
    border-top:1px solid rgba(212,175,55,.20);
}

.footer-container{

    max-width:1300px;
    margin:auto;

    padding:28px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;

}

.footer-left h2{

    color:#fff;
    font-size:32px;
    margin-bottom:10px;

}

.footer-left span{

    color:#d4af37;

}

.footer-left p{

    color:rgba(255,255,255,.72);
    line-height:1.7;
    font-size:15px;

}

.footer-center{

    text-align:center;
    flex:1;

}

.footer-center p{

    color:rgba(255,255,255,.70);
    font-size:15px;

}

.footer-right{

    text-align:right;

}

.footer-right h4{

    color:#d4af37;
    margin-bottom:12px;
    font-size:18px;

}

.payment-icons{

    display:flex;
    gap:14px;
    justify-content:flex-end;

}

.payment-icons svg{

    font-size:40px;
    color:#fff;

}

@media(max-width:768px){

.footer-container{

flex-direction:column;
text-align:center;

}

.footer-right{

text-align:center;

}

.payment-icons{

justify-content:center;

}

.footer-center{

order:3;

}

}