/* ==========================================
                HERO
========================================== */

.hero{

    position:relative;

    width:100%;

    min-height:100vh;

    display:flex;

    align-items:center;

    padding:100px 90px 0;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    overflow:hidden;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.65);

}

.hero-content{

    position:relative;

    z-index:2;

    max-width:700px;

}

.hero-subtitle{

    color:#d4af37;

    font-size:18px;

    font-weight:600;

    letter-spacing:5px;

    margin-bottom:20px;

}

.hero h1{

    font-size:78px;

    line-height:1.05;

    font-weight:800;

    margin-bottom:20px;

    color:#fff;

}

.hero h2{

    color:#d4af37;

    font-size:40px;

    font-weight:700;

    margin-bottom:25px;

}

.hero-description{

    color:#e4e4e4;

    font-size:22px;

    line-height:1.8;

    margin-bottom:45px;

}

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}