/* ==========================================
              SECTION TITLE
========================================== */

.section-title{

    text-align:center;

    font-size:52px;

    font-weight:800;

    color:#d4af37;

    margin-bottom:70px;

}

/* ==========================================
               SERVICES
========================================== */

.services{

    padding:120px 80px;

    background:#0b0b0b;

}

.services-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}

.service-card{

    background:#111;

    border:1px solid rgba(212,175,55,.18);

    border-radius:22px;

    padding:45px 35px;

    transition:.35s;

    cursor:pointer;

}

.service-card:hover{

    transform:translateY(-10px);

    border-color:#d4af37;

    box-shadow:0 20px 45px rgba(212,175,55,.18);

}

.service-card h3{

    color:#d4af37;

    font-size:28px;

    margin-bottom:20px;

    font-weight:700;

}

.service-card p{

    color:#d7d7d7;

    font-size:18px;

    line-height:1.8;

}